<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>homepage</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="images/homepage.css">
</head>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200&display=swap" rel="stylesheet">
<body>

<div class="top-container">
    <buton type="button" class="mage">Mage Comp.</buton>
    <buton type="button" class="Language top">Language</buton>
    <buton type="button" class="Sign-Up top">Sign Up for Email</buton>
    <buton type="button" class="Carrers top">Carrers</buton>
    <buton type="button" class="order">Start Order</buton>
    <buton type="button" class="menu top">Our menu</buton>
    <buton type="button" class="dw top">Download App</buton>
    <buton type="button" class="about top">About our food</buton>
</div>

<div class="shusii">
    <img src="images/home images/sushi.png" alt="rightdesign" class="shusi" >
    <p class="rightdesign">Shusi</p>
    <p class="rightdesign" >AVAILABLE ONLINE ONLY</p>
    <p class="rightdesign">Spend $25, Get $5 Off</p>
    <p class="rightdesign">Click to order👇</p>
    <buton type="button" class="shu1Order">Order Now</buton>
</div>

<div class="ram">
    <img src="images/home images/ramen.png" alt="leftdesign" class="ramen" >
    <p class="leftdesign">Ramen</p>
    <p class="leftdesign" >AVAILABLE ONLINE ONLY</p>
    <p class="leftdesign">Spend $25, Get $5 Off</p>
    <p class="leftdesign">Click to order👇</p>
    <buton type="button" class="ramenorder">Order Now</buton>  
</div>

<div class="chicken">
    <img src="images/home images/fc.png" alt="friend chicken" class="fchicken" width= "50%" >
    <p class="rightdesign">Fried-Chicken</p>
    <p class="rightdesign" >AVAILABLE ONLINE ONLY</p>
    <p class="rightdesign">Spend $25, Get $5 Off</p>
    <p class="rightdesign">Click to order👇</p>
    <buton type="button" class="shu1Order">Order Now</buton>
</div>

<div class="barbeque">
    <img src="images/home images/bbq.png" alt="bbq" class="bbq" width= "40%">
    <p class="bbqleft">Shusi</p>
    <p class="bbqleft" >AVAILABLE ONLINE ONLY</p>
    <p class="bbqleft">Spend $25, Get $5 Off</p>
    <p class="bbqleft">Click to order👇</p>
    <buton type="button" class="bbq1">Order Now</buton>  
</div>

<footer class="py-5">
    <div class="row">
      <div class="col-6 col-md-2 mb-3">
        <h5>Section</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Home</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Features</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Pricing</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a></li>
        </ul>
      </div>

      <div class="col-6 col-md-2 mb-3">
        <h5>Section</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Home</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Features</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Pricing</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a></li>
        </ul>
      </div>

      
      <div class="col-6 col-md-2 mb-3">
        <h5>Section</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Home</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Features</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Pricing</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a></li>
        </ul>
      </div>

      <div class="col-md-5 offset-md-1 mb-3">
        <form>
          <h5>Subscribe to our Website</h5>
          <p>Monthly digest of what's new and exciting from us.</p>
          <div class="d-flex flex-column flex-sm-row w-100 gap-2">
            <label for="newsletter1" class="visually-hidden">Email address</label>
            <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
            <button class="btn btn-primary" type="button">Subscribe</button>
          </div>
        </form>
      </div>
    </div>

    <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
      <p>© 2024 Mage Company, Inc. All rights reserved.</p>
      <ul class="list-unstyled d-flex">
        <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>
        <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
        <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
      </ul>
    </div>
  </footer>
</body>
</html>