<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="images/styles.css">

</head>

<body>
<div class="Top-container">
  <header class="p-3 text-bg-dark">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="#" class="nav-link px-2 text-secondary">Home</a></li>
          <li><a href="#" class="nav-link px-2 text-white">Food</a></li>
          <li><a href="#" class="nav-link px-2 text-white">Pricing</a></li>
          <li><a href="#" class="nav-link px-2 text-white">Select courier</a></li>
          <li><a href="#" class="nav-link px-2 text-white">About Mage</a></li>
        </ul>

        

        <form action="/submit" method="post">
          <label for="login" class="log">Login</label>
          <input type="text" name="username" >
          <label for="password" class="pass">Password</label>
          <input type="text" name="password">
          <input type="Submit" value="submit" class="sub">
        </form>
          
        <%#  div class="text-end">
          <button type="button" class="btn btn-outline-light me-2">Login</button>
          <button type="button" class="btn btn-warning">Sign-up</button>
        </div>
        %>
      </div>
    </div>
  </div>

  <div class="Middle-container">
  </header>
  <div class="px-4 pt-5 my-5 text-center border-bottom">
    <h1 class="display-4 fw-bold text-body-emphasis">Food-Click-Order🛵</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">“Cooking is all about people. Food is maybe the only universal thing that really has the power to bring everyone together. No matter what culture, everywhere around the world, people eat together.” – Guy Fieri</p>
    </div>
    <div class="overflow-hidden" style="max-height: 30vh;">
      <div class="container px-5">
        <img src="images/165281.jpg" class="Koreanfood" alt="kfood" width="800" height="500"  loading="lazy">
      </div>
    </div>
  </div>
</div>

<div class="Bottom-container">
  <main>
   
    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
  
    <div class="container marketing"> 
  
      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
         <img src="images/naruto.gif" alt="ramen" class="narutoeatingRamen">
          <h2 class="fw-normal">History Ramyeon</h2>
          <p>Instant Korean ramyeon is popular all over the world today. It can be found in myriad places, including western supermarkets, majority of Asian markets, and even at the summit of Jungfrau in Switzerland due to its popular demand. In the motherland, ramyeon consumption is about 70~90 ramyeon per person a year, and 3.3 billion for the whole population of Korea every year. Lim Chun-aem, a track-and-field athlete who won 3 medals in the 1986 Asian Games, even stated that she only ate ramyeon and ran to train for the race.  Despite the world’s view of being unhealthy and a quick fix to a fast paced life, instant ramyeons are continuing to evolve and carry a significant place on everyone’s table as a staple food; ramyeon creations also reflect the Korean’s open cultural mindset that welcomes cultural identities and enjoys creating hybrids..</p>
          <p><a class="btn btn-secondary" href="#">View details »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
         <img src="images/chicken.gif" alt="fchicken" class="girleatingChicken">
          <h2 class="fw-normal">History Fried Chicken</h2>
          <p>Fried chicken, also known as Southern fried chicken, is a dish consisting of chicken pieces that have been coated with seasoned flour or batter and pan-fried, deep fried, pressure fried, or air fried. The breading adds a crisp coating or crust to the exterior of the chicken while retaining juices in the meat. Broiler chickens are most commonly used.
            The first dish known to have been deep fried was fritters, which were popular in the European Middle Ages. However, the Scottish were the first Europeans to deep fry their chicken in fat. Meanwhile, many West African peoples had traditions of seasoned fried chicken (though battering and cooking the chicken in palm oil).
            <p><a class="btn btn-secondary" href="#">View details »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img src="images/luffy.gif" alt="bbq" class="luffyEatingmeat">
        <h2 class="fw-normal">History BBQ</h2>
          <p>Lockhart, Texas has plenty of reasons to feel proud. With its unique collection of 19th-century buildings, it is one of the prettiest towns in Caldwell County – and a favourite of Hollywood producers. More than 50 films have been made there, from Baby, the Rain Must Fall (1968), starring Steve McQueen and Lee Remick, to Clint Eastwood’s acclaimed drama A Perfect World (1993). But what really makes locals puff out their chests is the barbecue. Ever since Jesse Swearingen opened Lockhart’s first meat market in 1875, the town has been famous for its barbecued beef and sausages, usually served with saltine crackers, onions and pickles. Every year, its four restaurants welcome more than 250,000 diners from around the world; and in 1999, Lockhart was officially named the ‘Barbecue Capital of Texas’. <p><a class="btn btn-secondary" href="#">View details »</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
  
  
      <!-- START THE FEATURETTES -->
  
      <hr class="featurette-divider">
  
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading fw-normal lh-1">Korean Ramyeon</h2>
          <p class="lead">“When you get to eat ramen after feeling really, really hungry—that’s happiness.”</p>
        </div>
        <div class="col-md-5">
          <img src="images/giphy.gif" alt="food" class="koreanRamen">
        </div>
      </div>
  
      <hr class="featurette-divider">
  
      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading fw-normal lh-1">Korean Fried Chicken </span></h2>
          <p class="lead">" The best comfort food will always be fried chicken.. "</p>
        </div>
        <div class="col-md-5   order-md-1">
          <img src="images/friedchik.gif" alt="chick" class="KoreanChick">
        </div>
      </div>
  
      <hr class="featurette-divider">
  
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading fw-normal lh-1">Korean BBQ </h2>
          <p class="lead">"Good barbecue comes from experience, and experience, well, that comes from poor barbecue." -</p>
        </div>
        <div class="col-md-5">
         <img src="images/bbq-ribs.gif" alt="bbq" class="koreanBbq">
        </div>
      </div>
  
      <hr class="featurette-divider">
  

      <!-- /END THE FEATURETTES -->
  
    </div><!-- /.container -->
  </div>


  <div class="footer-container">
  <div class="container py-3">
    <header>
      <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal text-body-emphasis">Food-Click-Order🛵 Menu Price</h1>
        </div>
    </header>
  
    <main>
      <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm border-primary">
            <div class="card-header py-3 text-bg-primary border-primary">
              <h4 class="my-0 fw-normal">RAMYEON</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">$4<small class="text-body-secondary fw-light"></small></h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>Beef</li>
                <li>Pork</li>
                <li>Seafood</li>
                <li>Spicy</li>
              </ul>
              <button type="button" class="w-100 btn btn-lg btn-outline-success">Buy</button>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm border-primary">
            <div class="card-header py-3 text-bg-primary border-primary">
              <h4 class="my-0 fw-normal">Fried Chicken</h4>
            </div>  
            <div class="card-body">
              <h1 class="card-title pricing-card-title">$3<small class="text-body-secondary fw-light"></small></h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>Regular</li>
                <li>Spicy</li>
                <li>Garlic Flavor</li>
                <li>Chesse Flavor</li>
              </ul>
              <button type="button" class="w-100 btn btn-lg btn-outline-success">Buy</button>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm border-primary">
            <div class="card-header py-3 text-bg-primary border-primary">
              <h4 class="my-0 fw-normal">Barbecue</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">$6<small class="text-body-secondary fw-light"></small></h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>Regular</li>
                <li>Spicy</li>
                <li>Chesse Flavor</li>
                <li>Garlic Flavort</li>
              </ul>
              <button type="button" class="w-100 btn btn-lg btn-outline-success">Buy</button>
            </div>
          </div>
        </div>
      </div>
    </main>
  
    
    <footer class="pt-4 my-md-5 pt-md-5 border-top">
      <div class="row">
        <div class="col-12 col-md">
          <img class="mb-2" src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="" width="24" height="19">
          <small class="d-block mb-3 text-body-secondary">© 2024</small>
        </div>
        <div class="col-6 col-md">
          <h5>Features</h5>
          <ul class="list-unstyled text-small">
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Cool stuff</a></li>
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Random feature</a></li>
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Team feature</a></li>
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Stuff for developers</a></li>
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Another one</a></li>
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Last time</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Resources</h5>
          <ul class="list-unstyled text-small">
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Resource</a></li>
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Resource name</a></li>
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Another resource</a></li>
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Final resource</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>About</h5>
          <ul class="list-unstyled text-small">
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Team</a></li>
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Locations</a></li>
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Privacy</a></li>
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Terms</a></li>
          </ul>
        </div>
      </div>
    </footer>
  </div>
  </main>
</div>
</body>
</html>